Package: plegger
Version: 0.0.1
Architecture: all
Maintainer: Chris Obbard <chris@64studio.com>
Installed-Size: 29
Depends: dnsmasq, hostapd, nodejs
Section: misc
Priority: important
Multi-Arch: foreign
Description: plegger package
 Long Description of plegger
