Source: plegger
Priority: optional
Section: sound
Maintainer: Chris Obbard <chris@64studio.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: plegger
Architecture: all
Depends: sox, libsox-fmt-mp3, dnsmasq, hostapd, nodejs (>= 4.7), ${misc:Depends}
Description: PiDeck Bootlegger
 The PiDeck Bootlegger is designed to record whenever audio is present on the 
 default ALSA input device. It uses sox to record 192k MP3s and timestamp them. 
 These files are made available through a web browser interface on a local wireless 
 network to anyone with the WiFi password, which can then be uploaded to a sharing 
 service such as Mixcloud.
