[Unit]
Description="Recording script using sox"

[Service]
TimeoutStartSec=0
User=pi
ExecStart=/usr/share/plegger/plegger-recorder
ExecReload=/usr/bin/killall -s SIGTERM rec
Restart=always

[Install]
WantedBy=multi-user.target
