[Unit]
Description="Recording script using sox"

[Service]
TimeoutStartSec=0
User=pi
ExecStart=/usr/share/plegger/plegger-recorder
Restart=always

[Install]
WantedBy=multi-user.target
